{% extends 'base.html.twig' %}
{% block nav %}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
    </head>
    <div class="jumbotron p-3 row" style="margin-bottom:0;">
        <img  class="col-sm-2" style="height: 140px" src="{{ asset('img/elmo.jpg') }}" alt="logo">
        <div class="col-sm-8 col-lg-9">
            <h1>PassFD</h1>
        </div>
        <div class="col-sm-2 col-lg-1 d-flex flex-column">
            <p>Welkom</p>
            <p> Visitor </p>
            <a href="/logout" class="btn btn-outline-danger">Logout</a>
        </div>
    </div>
    <nav class="navbar navbar-expand-sm">
        <a class="navbar-brand text-danger" href="{{ path('member_home') }}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-danger" href="{{ path('clothes_add') }}">Clothes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="{{ path('face') }}">Face</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="{{ path('overzicht') }}">Overzicht</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}